.myNavbar{
    line-height: 2;
    font-family: "Amatic SC", sans-serif;
    width: 100%;
    opacity: 0.60;
    font-size: 25px;
    color: #fff;
    background-color: #255C6B;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    
    
}

a#item{
    text-decoration: none;
    padding: 9.7px 72px;
    position: relative;
    bottom: -0.2px;
    color: white;
    font-weight:900;
}
a#item:hover{
    font-weight:900;
    background-color: #0F4C5C;
    animation-name: test_2 ;
    animation-duration: 1s;
}

canvas{
    position: absolute;
    right: 200px;
}